[submodule "app/src/main/java/de/ct/nutria/Nutria-Food-Select-Fragment"]
	path = app/src/main/java/de/ct/nutria/Nutria-Food-Select-Fragment
	url = git@github.com:pinae/Nutria-Food-Select-Fragment.git
