<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="de.ct.nutria">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".NutriaApplication"
        android:allowBackup="true"
        android:fullBackupContent="@xml/backup_descriptor"
        android:icon="@drawable/ic_nutria"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_nutria"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".FoodDetailsActivity"
            android:label="@string/title_activity_food_details"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".SearchFoodActivity"
            android:label="@string/title_activity_search_food"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <uses-library android:name="android.test.runner" android:required="false" />
        <uses-library android:name="android.test.base" android:required="false" />
        <uses-library android:name="android.test.mock" android:required="false" />
    </application>

</manifest>